/* Global Setting */
main{
   padding: 10px 25px;
}

.row {
   text-align: left;
}

/* Styling Timeline Section */

section.timeline-section {
   display: grid;
   grid-template-columns: 100px 1fr;
   gap: 20px; 
   position: relative;
}

/* Styling timeline components */

.time-wrapper{
   margin-top: 0;
}

.date-wrapper{
   margin-bottom: 0;
}

.date, .time{
   font-size: 12px;
}

.item-wrapper{
   border:1px solid rgb(244, 241, 241);
   border-left: 2px solid rgb(48, 213, 48);
}

.item-wrapper div{
   padding:0px 20px;
}

.item-heading{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border:1px solid rgb(244, 241, 241);
   height: 5rem;
}

.item-heading h1{
   font-size: 1.7rem;
}

.item-content{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
   gap: 20px; 

}

.collapsed .item-content, .collapsed.vetical-line{
   display:none;
}


.expanded .item-content{
   display: grid;
}

.sub-item-heading{
   font-weight: bolder;
}


/* Styling icons */
.fa-circle-info{
   position:absolute;
   font-size: 12px;
   padding-top:7px;
   padding-left: 5px;
}

.fa-circle-check{
   color: green;
   font-size: 20px;
}

.fa-triangle-exclamation{
   color: rgb(227, 135, 5);
   font-size: 17px;
}

i.hide{
   display: none;
}

i.show{
   display: inline-block;
}

/* Adding timeline dots and vertical line */

section.timeline-section  .date-wrapper {
   position: relative; 
}

section.timeline-section  .time-wrapper {
   position: relative; 
}

section.timeline-section .row1 .time-wrapper::before {
   content: "";
   position: absolute;
   top: -2px;
   left: -11%; 
   width: 1px;
   height: 470%;
   background-color: lightgray;
}


section.timeline-section .row1 .vertical-line::before {
   content: "";
   position: absolute;
   top: 5%;
   left: -0.7rem;
   width: 1px;
   height: 50%;
   background-color: lightgray;
}

section.timeline-section .row1.collapsed .vertical-line::before {
   display: none;
}

section.timeline-section  .row1 .date-wrapper::before {
   content: "";
   position: absolute;
   top: 4px;
   left: -15.5%;
   width: 11px;
   height: 10px;
   border-radius: 50%;
   background-color: green;
}

section.timeline-section  .row2 .date-wrapper::before {
   content: "";
   position: absolute;
   top: 5px;
   left: -15%; 
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background-color: green;
}

section.timeline-section  .row2 .date-wrapper::after {
   content: "";
   position: absolute;
   top: 3px;
   left: -17%; 
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid green;
   padding: 1px;
}

/* Media Queries */
@media (max-width: 1200px) {
   .item-heading h1{
      font-size: 1.6rem;
   }
   
   .item-content {
      grid-template-columns: repeat(3, 1fr); 
   }
}

@media (max-width: 768px) {
   main{
      padding-left: 0;
   }
   
   section.timeline-section {
      grid-template-columns: 40px 1fr;
   }
   
   .timeline-wrapper{
      text-align: center;
   }

   .date, .time{
      display: none; 
      padding-left: 10px;
   }

   .item-heading h1{
      font-size: 1.3rem;
   }

   .item-content{
      grid-template-columns: repeat(1, 1fr);
   }
   
   section.timeline-section  .row1 .date-wrapper::before {
      left: 49%; 
   }
   
   section.timeline-section  .row2 .date-wrapper::before {
      left: 50%; 
   }
   
   section.timeline-section  .row2 .date-wrapper::after {
      top:3.5px;
      left: 45%; 
   }
   
   section.timeline-section .row1 .time-wrapper::before {
      height: 6.2rem;
      top: 16px;
      left: 1.5rem; 
   }
   
   section.timeline-section .row1 .vertical-line::before {
      width: 1px;
      height: 45%;
      top: 8rem;
      left: 1.5rem;
   }

}

