
main{
   padding: 10px 25px;
}

.grid-container {
   display: grid;
   grid-template-columns: 100px 1fr;
   gap: 20px; 
   position: relative;
}

.container{
   padding: 0px 20px;
}

.cell {
   text-align: left;
}

.date, .time{
   font-size: 12px;
}


.item-heading{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border:1px solid rgb(244, 241, 241);
}

.item-heading h1{
   font-size: 1.9rem;
}


.item-content{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
   gap: 20px; 

}

.col2{
   /* border: 1px solid rgb(244, 241, 241); */
   border-left: 2px solid darkgreen;
}

.task-header{
   font-weight: bolder;
}

.fa-circle-info{
   position:absolute;
   font-size: 12px;
   padding-top:7px;
   padding-left: 5px;
}

.fa-circle-check{
   color: green;
   font-size: 20px;
}

.fa-triangle-exclamation{
   color: rgb(227, 135, 5);
   font-size: 17px;
}

i.hide{
   display: none;
}

i.show{
   display: inline-block;
}

/* Adding timeline dots */


.grid-container  .date-wrapper {
   position: relative; 
}

.grid-container  .row1 .date-wrapper::before {
   content: "";
   position: absolute;
   top: 4px;
   left: -15px; 
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: green;
}

.grid-container  .row2 .date-wrapper::before {
   content: "";
   position: absolute;
   top: 5px;
   left: -15px; 
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background-color: green;
}

.grid-container  .row2 .date-wrapper::after {
   content: "";
   position: absolute;
   top: 3px;
   left: -17px; 
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid green;
   padding: 1px;
}


/* End of adding timeline dots */



@media (max-width: 1200px) {
   .item-content {
       grid-template-columns: repeat(3, 1fr); 
   }
}

@media (max-width: 768px) {
   .date, .time{
      display: none;
   }

   .item-heading h1{
      font-size: 1.5rem;
   }



   .item-content{
       grid-template-columns: repeat(1, 1fr);
   }

}

